body{
   background: url('./components/Images/background.png');
   background-size: cover;
   background-attachment: fixed;
}

.App {
   text-align: center;
   overflow-x: hidden;
   scrollbar-color: rgba(103, 192, 172, 0.9) black;
   scrollbar-width: thin;
 }
 
 /* Chrome, Safari y Edge */
 ::-webkit-scrollbar {
   width: 15px;
 }
 
 ::-webkit-scrollbar-track {
   background-color: black;
 }
 
 ::-webkit-scrollbar-thumb {
   background-color: rgba(103, 192, 172, 0.9);
   border-radius: 20px;
 }
 
 ::-webkit-scrollbar-button {
   display: none;
 }
 
 ::-webkit-scrollbar-corner {
   background-color: black;
 }