.Card-Div{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 5px 5px 5px 5px;
    margin: 10px;
    outline: 5px solid black;
    box-shadow: 0px 0px 10px black;
}

.Card-Button{
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: red;
    text-shadow: 2px 2px 1px white, 2px -2px 1px white, -2px 2px 1px white, -2px -2px 1px white;
}

.Card-H2{
    font-size: 22px;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}

.Card-Img{
    width: 200px;
    height: auto;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid black;
}

#Card-H2-1{
    position: absolute;
    left: 5px;
    bottom: 0;
    text-shadow: 2px 2px 1px orange, 2px -2px 1px orange, -2px 2px 1px orange, -2px -2px 1px orange;
    font-size: 150%;
    text-align: left;
    color: black;
}

.Card-Info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.Card-H2:nth-of-type(even){
    color: rgb(190, 190, 190);
}

.Card-Favorite{
    background: none;
    border: none;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 5px black, 1px -1px 5px black, -1px 1px 5px black, -1px -1px 5px black;
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background: red;
}

.Card-Favorite:hover{
    text-shadow: 1px 1px 8px black, 1px -1px 8px black, -1px 1px 8px black, -1px -1px 8px black;

}