.App {
   text-align: center;
   overflow-x: hidden;
}

::-webkit-scrollbar {
   width: 15px;
}

::-webkit-scrollbar-track {
   background: black;
} 

::-webkit-scrollbar-thumb {
   background-color: rgba(103, 192, 172, 0.9);
   border-radius: 20px;
} 

::-webkit-scrollbar-button {
   display: none;
}

::-webkit-scrollbar-corner {
   background-color: black;
}